.field {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    margin: auto;
    
}

.box {
    border: 1px solid grey;
    width: 18px;
    height: 18px;
}

.box-color {
    background-color: rgba(38, 235, 21, 0.932);
}