.field {
    display: flex;
    flex-wrap: wrap;

    margin: auto;
}

.box {
    border: 1px solid grey;
    width: 18px;
    height: 18px;
    &-color {
        background-color: rgba(38, 235, 21, 0.932);
    }
}


